body>div{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    justify-items: center;
    align-items: center;
    background-image: url('');
    background-size: cover;
}
form>div{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    padding: 7%;
    
}
p{
    width: 10hw;
}
body{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-items: center;
    background-image:url('https://i.pinimg.com/originals/e4/7e/02/e47e025f47630b59ec87217bfa0a9e90.jpg');
    background-size: cover;
}
button{
    width: 200px; height: 50px;
    color: brown;
}
img{
    float: left;
    width: 10%;
    margin-right: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width:500px) {

    body{
        background-image:url('https://cdn.wallpapersafari.com/29/69/QucGLr.jpg');
    }
    
}
 
@media screen and (min-width:750px) {

    body{
        background-image:url('https://cdn.wallpapersafari.com/29/69/QucGLr.jpg');
    }
    
}